/* Estilos para el contenedor principal */
main {
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  color: #ffffff;
  background-image: url(imgs/Edificios\ fondo.jpg)
}

/* Bootstrap Container */
.container-fluid{
  overflow: hidden;
}

/* Estilos para el contenido */
.contenido {
  font-size: 40px;
  background-color: rgba(8, 63, 89, 0.151);
  color: #fff;
  border-radius: 20px;
  border: none;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

/* Estilos para los enlaces de contacto */
.contact-link {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-link img {
  width: 30px;
  margin-right: 10px;
}

.contact-link p {
  margin: 0;
  text-align: left;
}

.custom-navbar-bg {
  background-color: rgba(86, 193, 178, 0.7); /* Cambia el color a tu preferencia usando un código hexadecimal, nombre de color, etc. */
}

/* Estilos para ocultar los inputs y labels (no se utilizan actualmente) */
input {
  display: inline-flex;
}

label {
  display:inline-flex;
}

/* Estilos para la lista de botones de navegación */
.button-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-list li {
  display: inline-block;
  margin-right: 10px;
}

.button-list li a {
  padding: 15px 50px 15px 50px;
  background-color: rgba(8, 64, 89, 0.5);
  color: #fff;
  text-decoration: none;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
}

.button-list li a:hover {
  background-color: rgba(0, 23, 34, 0.5);
  transition: 0.5s;
}

/* Estilos para el pie de página */
footer {
  background-color: rgba(86, 193, 178, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4em;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", sans-serif;
}
